.about-container {
    text-align: left;
    margin-bottom: 20px;
    /* Space below the intro text */
    font-weight: bold;
}

.primary {
    display: inline-block;
    align-items: left;
    align-content: left;
    width: 29vw;
    word-wrap: break-word;
}

.secondary {
    display: inline-block;
    width: 29vw;
    word-wrap: break-word;
    align-items: top center;

}

.tertiary {
    display: inline-block;
    width: 39vw;
    word-wrap: break-word;
    align-items: top center;

}