.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

.about-container {
  padding: 20px;
}

/* h1 is largest heading */
/* General rules for fonts and colors */
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 45pt;
  font-family: Comfortaa;
  font-variant: normal;
  color: #555;
}

.h1_left_align {
  display: flex;
  flex-direction: row;
  padding-bottom: 10pt;
  margin-left: 20pt;
  text-align: left;
  font-size: 30pt;
  font-family: Rubik Mono One;
  letter-spacing: 5px;
  font-variant: normal;
  color: #555;
}


.h1_photo_gallery {
  /* this is the big text that says PHOTO GALLERY */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 45pt;
  font-family: Rubik Mono One;
  font-variant: normal;
  letter-spacing: 1dvh;
  font-weight: 800;
  color: #555;
}

iframe {
  flex-direction: row;
  align-items: left;
  margin-left: 20pt;
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 25pt;
  margin-left: 20pt;
  font-family: Rubik Mono One;
  font-variant: normal;
  font-weight: 300;
  color: #555;
}


p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18pt;
  font-family: Comfortaa;
  font-variant: normal;
  color: #555;
}

.p_left_align {
  display: flex;
  flex-direction: row;
  padding-bottom: 18pt;
  margin-left: 20pt;
  text-align: left;
  font-size: 18pt;
  font-family: Comfortaa;
  font-variant: normal;
  color: #555;
  word-wrap: break-word;
  line-height: 130%;

}

body {
  font-size: 12pt;
  font-family: Comfortaa;
  font-variant: normal;
  color: #555;
  text-align: center;
}


.modal-text {
  /* this is p, but different color */
  color: white;
  margin-top: 10px;
  word-wrap: break-word;
  text-align: center;
  padding-top: 20px;
  max-width: 70%;
}

header {
  font-size: 40;
  font-family: Comfortaa;
  font-variant: normal;
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* See .site-name in layout.css for the site-name styling */
}

footer {
  background-color: #333;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
  /* Pushes the footer to the bottom */
}

.p_footer {
  /* Override normal p settings */
  font-size: 10pt;
  font-family: Comfortaa;
  font-variant: normal;
  color: white;

}

.imagestyle_bl {
  margin: 10px;
  width: 340px;
  border: 2px solid black;
  cursor: pointer;
  transition: transform 0.2s;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: bottom left;
}

.imagestyle_br {
  margin: 10px;
  width: 340px;
  border: 2px solid black;
  cursor: pointer;
  transition: transform 0.2s;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: bottom right;
}

iframe {
  align-items: left;
  align-content: left;
}